# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
.env

# Database & Cache
*.db
*.sqlite
*.sqlite3
models_cache/
.pytest_cache/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.pdf
*.docx
